@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter.woff2) format('woff2'),
         url(../fonts/Inter.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prata';
    src: url(../fonts/Prata.woff2) format('woff2'),
         url(../fonts/Prata.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// цвета

$dark: #303030;
$white: #fff;
$white1: #F8F8F8;
$white2: #F0F0F0;
$white3: #F5F5F5;
$green: #5B8A8F;
$green1: #43807F;
$grey: #8F8F8F;
$red: #E24B33;
$orange: #E1A661;



body {
    font-family: 'Inter', 'font', sans-serif;
    // font-weight: 400;
    // color: $dark-blue;
    // background-color: $white2;
    min-width: 320px;
    // overflow-x: hidden;
    color: $dark;
}

// #303030

/* 567 */
@media (min-width: 0px) {

    .button {
        padding: 0;
        border-color: transparent;
        border: 0;
        // padding: 20 56px;

        &--color {
            background-color: $dark;
            color: $white;
            padding: 15px 56px;
        }

        &--tabs {
            background-color: $white2;
            font-size: 14px;
            line-height: 14px;
            border-radius: 21px;
            padding: 13px 31px;
            margin-right: 4px;
            transition: all 0.3s ease-in;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                background-color: $dark;
                color: $white;
            }
        }

        &--prev,
        &--next {
            width: 55px;
            height: 55px;
            border: 1px solid #303030;
            border-radius: 50%;
            left: 22px;
            transform: translateY(-16%);

            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: url('../img/icon/arrow.svg') no-repeat 100% 100%;
                width: 16px;
                height: 7px;
                content: '';
            }
        }

        &--next {
            left: auto;
            right: 25px;

            &::after {
                transform: translate(-50%,-50%) rotate(180deg);
            }
        }

        .sale__wrapper-tabs &--next,
        .sale__wrapper-tabs &--prev,
        .product-day &--next,
        .product-day &--prev {
            top: 19px;
            right: 1px;
        }

        .sale__wrapper-tabs &--prev,
        .product-day &--prev {
            right: 64px;
            left: auto;
        }

        .product-day &--next,
        .product-day &--prev {
            top: 22px;
        }

        &--product-day {
            font-family: 'Inter';
            font-size: 14px;
            line-height: 14px;
            padding: 5px 11px;
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }

        &--basket {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            padding: 21px 0;
        }

        &--basket:first-child {
            margin-bottom: 10px;
            background-color: $dark;
            color: $white;
        }
    }

    .list {
        padding: 0;
        list-style: none;
        margin-bottom: 0;

        &--product-day {
            padding-left: 12px;
        }
    }

    // стили навигации

    .navigation {
        padding-right: 0;

        &__link {
            color: $dark;
            text-decoration: none;
        }
    }

    // логотип

    .logo {
        & img {
            width: 183px;
            height: 52px;
        }
    }

    // стили заголовков

    .title {
        font-family: 'Prata';
        font-size: 40px;
        line-height: 40px;
        margin: 0;
        margin-bottom: 41px;

        &--hidden {
            display: none;
        }

        &--sale {
            margin-bottom: 26px;
        }

        &--product-day {
            margin-bottom: 35px;
        }

        &--h3 {
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 13px;
        }

        &--articles {
            margin-bottom: 44px;
        }
    }

    .picture {
        display: block;
        width: 100%;
        height: 100%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &--sale {
            padding: 0 34px;
        }

        &--advertisement {
            width: 50%;

            & img {
                object-position: bottom;
            }
        }
    }

    // HEADER

    .header {

        // overflow-x: hidden;

        &__select-wrapper,
        &__tel {
            position: relative;
            padding-left: 20px;
            display: inline-block;
        }

        &__select-wrapper::after,
        &__tel::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 12px;
            height: 16px;
            background: url(../img/icon/location.svg) no-repeat 100% 100%;
        }

        &__select-wrapper {
            margin-right: 34px;
        }

        &__select {
            border: none;
        }

        &__contact {
            padding-left: 0;
        }

        &__tel {
            font-size: 14px;
            line-height: 26px;
            text-decoration: none;
            color: $dark;
            padding-left: 29px;
        }

        &__tel::after {
            width: 16px;
            height: 16px;
            background: url(../img/icon/tel.svg) no-repeat 100% 100%;
        }

        &__lk {
            padding-right: 0;
        }

        &__login-link {
            font-size: 14px;
            line-height: 34px;
            color: $dark;
            text-decoration: none;

            &:first-child {
                margin-right: 10px;
                border: 1px solid $dark;
                border-top: none;
                border-left: none;
                border-bottom: none;
                padding-right: 10px;

            }
        }

        &__bottom {
            background-color: $white1;
            padding: 17px 136px 19px 50px;
        }

    }

    .superskid {
        &__sale,
        &__product {
            font-family: 'Prata';
            margin: 0;
        }

        &__content {
            padding-left: 15px;
        }

        &__pagination.swiper-pagination {
            bottom: 23px;

            & .swiper-pagination-bullet {
                background-color: transparent;
                border: 1px solid $dark;
                opacity: 1;
            }

            & .swiper-pagination-bullet-active {
                background-color: $dark;
            }
        }
    }

    .popular {

        &__list {
            flex-wrap: nowrap;
            max-width: 100%;
            margin: 0;
            justify-content: space-between;
        }

        &__item {
            font-size: 0;
            background-color: $white1;
            width: calc(16% - 9px);
            // padding: 46px 36px 25px 36px;
            padding: 29px 31px 25px 28px;
            // margin-right: 10px;
            // width: calc(17% - 15px);
        }

        &__link {
            text-decoration: none;
            text-align: center;
            display: inline-block;
            display: flex;
            flex-direction: column;
            min-height: 205px;
        }

        &__info {
            font-size: 16px;
            line-height: 16px;
            color: $dark;
            margin-top: auto;
            // max-width: 96%;
        }
    }

    .sale {

        &__wrapper-tabs {
            position: relative;
        }

        &__wrapper-button {
            margin-bottom: 35px;
        }

        &__wrapper-content {
            display: none;
            overflow-x: hidden;
            overflow-y: visible;

            &.active {
                display: block;
            }
        }

        &__list {
            margin: 0;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &__list li {
            position: relative;
            border: 1px solid $white2;
            width: calc(25% - 12px);
            padding: 40px 24px 10px 24px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__promo {
            position: absolute;
            top: 17px;
            left: 24px;
            width: 50px;
            height: 21px;
            background-color: $green;
            border-radius: 15px;

            &::after {
                position: absolute;
                content: 'Sale';
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: $white;
            }
        }

        &__swiper {
            margin-bottom: 30px;
        }

        &__pagination.swiper-pagination {
            bottom: -2px;
            left: 1px;
        }

        &__price-wrapper p {
            font-size: 14px;
            line-height: 22px;
        }

        &__price-active {
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            margin-right: 6px;
            margin-bottom: 16px;
            display: inline-block;
        }

        &__price-no-active {
            font-size: 14px;
            line-height: 14px;
            color: $grey;
        }
    }

    .advertisement {

        margin-bottom: 123px;

        &__list {
            justify-content: space-between;
            margin: 0;
        }

        &__item {
            width: calc(33% - 9px);
            display: flex;
            max-height: 290px;
            justify-content: space-between;
            // background-color: red;
            padding: 0;
            background-color: $white1;
        }

        &__left-wrapper {
            padding-top: 73px;
            width: calc(50% - 13px);
        }

        &__content {
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            padding-left: 27px;
            margin: 0;
            margin-bottom: 24px;
        }

        &__discount {
            background-color: $green1;
            text-align: center;
            color: $white;

            & span:first-child {
                font-weight: 600;
                font-size: 24px;
                line-height: 38px;
                margin-right: 13px;
                display: inline-block;
                vertical-align: super;
            }

            & span:last-child {
                font-weight: 600;
                font-size: 36px;
                line-height: 52px;
            }
        }

        &__item:nth-child(2) &__discount {
            background-color: $red;
        }

        &__item:nth-child(3) &__discount {
            background-color: $orange;
        }
    }

    .product-day {
        position: relative;
        margin-bottom: 119px;

        &__counter-wrapper,
        &__counter,
        &__wrapper-button,
        &__wrapper-time,
        &__wrapper-price {
            display: flex;
        }

        &__wrapper {
            justify-content: space-between;
        }

        &__wrapper-left {
            width: calc(50% - 76px);
            padding-top: 5px;
        }

        &__wrapper-right {
            width: 50%;
            padding-left: 88px;
            padding-right: 0;
        }

        &__rating {
            margin-bottom: 22px;
        }

        &__rating svg {
            margin-right: 3px;
        }

        &__article {
            font-family: 'Inter';
            font-size: 14px;
            line-height: 14px;
            display: inline-block;
        }

        &__counter {
            background-color: $white3;
            padding: 12px 14px;
            justify-content: space-between;
            width: 44%;
        }

        &__wrapper-time {
            font-family: 'Inter';
            flex-direction: column;
            background-color: $white;
            text-align: center;
            padding: 5px 0;


        }

        &__wrapper-time span:first-child {
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
        }

        &__wrapper-time span:nth-child(2) {
            font-weight: 300;
            font-size: 11px;
            line-height: 11px;
        }

        &__wrapper-price {
            align-items: center;
            width: calc(50% - 20px);
            padding-top: 21px;
        }

        &__sale {
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            border-radius: 15px;
            padding: 2px 8px;
            background-color: $red;
            color: $white;
        }

        &__price-active,
        &__price-no-active {
            font-family: 'Inter';
        }

        &__price-active {
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            margin-right: 18px;
        }

        &__price-no-active {
            font-size: 16px;
            line-height: 16px;
            margin-right: 17px;
        }

        &__counter-wrapper {
            justify-content: space-between;
            padding-right: 62px;
            border-bottom: 1px solid $white2;
            padding-bottom: 20px;
            margin-bottom: 22px;
        }

        &__color {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 12px;
            line-height: 12px;
            display: inline-block;
            margin-bottom: 16px;
        }

        &__input {
            width: 30px;
            height: 30px;
            margin-right: 4px;
        }

        &__choise-color {
            margin-bottom: 21px;
            margin-right: 10px;
        }

        &__size {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 12px;
            line-height: 12px;
            // background-color: $white2;
            position: relative;
            margin-bottom: 17px;
            display: inline-block;

            &::after {
                content: '?';
                position: absolute;
                top: 0;
                // right: 0;
                left: calc(100% + 8px);
                background-color: $white2;
                width: 18px;
                height: 18px;
                border-radius: 50%;
            }
        }

        &__basket {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-column-gap: 29px;
        }

        &__wrapper-size {
            margin-bottom: 47px;
            display: flex;
        }

        &__wrapper-button {
            flex-direction: column;
        }

        &__item {
            margin-bottom: 15px;
        }

        &__item svg {
            margin-right: 7px;
            width: 21px;
            height: 21px;
            display: inline-block;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .articles {
        position: relative;

        &__link {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: $dark;
            text-decoration: none;
            position: absolute;
            top: 29px;
            right: 41px;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: -50%;
                transform: translate(-11%, -19%);
                width: 25px;
                height: 25px;
                background: url('../img/icon/arrow-link.svg') no-repeat;
            }
        }

        &__link-blog {
            text-decoration: none;
        }

        &__info {
            padding-top: 18px;
        }

        &__date {
            font-family: 'Inter';
            font-size: 14px;
            line-height: 14px;
            color: $grey;
            margin-bottom: 11px;
            display: inline-block;
        }

        &__content {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $dark;
            margin: 0;
        }
    }
}

/* 1440 */
@media (min-width: 1440px) {

    .container {
        max-width: 1340px;
        width: 1340px;
        margin: 0 auto;
        padding: 0 20px;
    }

    // стили списков

    .list--header {
        display: flex;

        & li:not(:last-child) {
            margin-right: 33px;
        }
    }

    // стили навигации

    .navigation__list {
        display: flex;
        justify-content: space-between;
    }

    // стили логотипа

    .logo {
        text-align: center;
    }

    .section {
        margin-bottom: 115px;
    }

    // HEADER

    .header {
        // padding-top: 24px;
        margin-bottom: 20px;

        &__top {
            // margin-bottom: 32px;
            // display: flex;
            // align-items: center;
            padding-top: 24px;
            padding-bottom: 25px;
        }

        &__contact {
            align-self: flex-end;
        }

        &__lk {
            display: flex;
            justify-content: space-between;
            padding-left: 100px;
            // text-align: end;
            align-self: flex-end;
        }

        &__search {
            text-align: end;
        }
    }

    // SUPERSKID

    .superskid {
        background-color: $white1;

        // &__picture {
        //     display: block;
        //     width: 100%;
        //     height: 100%;

        //     & img {
        //         width: 100%;
        //         height: 100%;
        //     }
        // }

        &__wrapper {
            display: flex;
            align-items: center;
            padding: 0 0px 0 123px;
        }

        &__sale {
            font-size: 20px;
            line-height: 20px;
        }

        &__product {
            font-size: 50px;
            line-height: 50px;
            margin-top: 28px;
            margin-bottom: 52px;
        }
    }
}